#services{
    flex-direction: column;
}
#Home{
    padding: 3px 68px;
    height: 380px;

}
#Home p{
    font-size: 12px;
}

#Home::before{
    height: 480px;
}
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 3px;
}
#client{
    height: 300px;
}
#client-container{
    height: 480px;
}
.h-primary{
    font-size:26px;
}